* {
  box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    font-family: 'Inter', sans-serif;
    margin: 50px 150px;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 150px;
}

nav {
    display: flex;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-navbar);
    width: 100%;
    z-index: 1000;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 30px;
    padding: 10px 25px;
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
}

nav img {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: var(--color-navbar-text);
}

.current-page a {
    background-color: var(--color-navbar-highlight);
    padding: 10px 10px;
    border-radius: var(--border-radius);
}

.current-page li {
    background-image: url('./images/catpoint.png');
    background-repeat: no-repeat; 
    background-position: 0px 5px; 
    background-size: 16px 16px; 
    padding-left: 25px;
}

.fav {
    border-width: 2px;
    border-radius: 20px;
    border-color: black;
    padding: 30px;
}

button {
    background-color: var(--color-btn);
    color: var(--color-btn-text);
    border-radius: 30px;
    border: 2px solid black;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    box-shadow: var(--shadow);
    cursor: pointer;
}

h1 {
    font-size: 96px;
}

h2 {
    margin: 0px;
    font-size: 36px;
}

h3 {
    margin: 0px;
    font-size: 23px;
}

p, li {
    font-size: 20px;
    color: var(--color-text)
}

a {
    cursor: pointer;
    font-size: 20px;
    color: var(--color-link)
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 290px;
    /* height: 425px; */
    background-color: var(--color-card);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 30px;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: var(--border-radius);
    margin-bottom: 10px;
}

.card h3 {
    margin: 0;
    font-size: 23px;
}

.card p {
    margin: 0;
    font-size: 17px;
}

.card #name-age {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card button {
    align-self: center;
    margin-top: 10px;
}

.card hr {
    width: 100%; 
    border: 0.5px solid gray;
    margin: 0;
}

footer {
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--color-footer);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 40px;
    gap: 50px;
    margin-top: 100px;
    z-index: 10;
}

footer h3 {
    margin: 0;
}

footer p {
    font-size: 15px;
}

footer a {
    font-size: 15px;
    text-decoration: underline;
}

footer img {
    /* width: 100%; */
    height: 30px;
}

footer hr {
    margin-left: 0; 
    width: 90%; 
    border: 0.5px solid black;
}

#footer-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer form input {
    width: 70%;
    height: 2rem;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid rgb(152, 152, 152);
    padding-left: 10px;
}

footer form button {
    font-size: 15px;
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background-color: pink;
}

.sub-confirmation {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(180, 222, 180);
    border-radius: 5px;
    padding: 15px 20px;
    z-index: 20;

    transition: opacity 0.5s ease, transform 0.5s ease;
}

.sub-confirmation.hidden {
  opacity: 0;
  transform: translate(-50%, -20px); /* Slides up out of view */
  pointer-events: none; /* Prevents clicks while hidden */
}


/* variables  */
:root {
    /* colors */
    --color-background: white;
    --color-navbar: #FFF5ED;
    --color-navbar-text: #531b23;
    --color-navbar-highlight: #ffdabc;
    --color-footer: #FFF5ED;
    --color-text: black;
    --color-btn: black;
    --color-btn-text: white;
    --color-border: #ffdabc;
    --color-card: #FFF5ED;
    --color-link: black;
    --color-link-active: rgb(139, 27, 27);
    --color-link-hover: red;

    /* layout + effects */
    --border-radius: 20px;
    --shadow: 1px 2px 5px 0px #b4b4b4; /* offset-x offset-y blur-radius spread-radius color inset; */
}