body {
     overflow-x: hidden;
}

h1 {
    margin-top: 130px;
    margin-bottom: 0;
}

#subheading {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 25px;
}

h2 {
    margin: 10px 0px;
    margin-top: 20px;
}

#main-about p {
    margin: 0px;
    margin-bottom: 20px;
    /* padding-right: 400px; */
}

/* #main li {
    padding-right: 400px;
} */

#main-about {
    display: flex;
}

#about-text{
    z-index: 6;
    padding-right: 400px;
}

#about-text ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

#about-text li {
  background-image: url('../images/catpoint.png');
  background-repeat: no-repeat; 
  background-position: 2px 7px; 
  background-size: 16px 16px; 
  padding-left: 25px; 
  padding-top: 2px;
  padding-bottom: 2px;
}

#catpunzel {
    position: absolute;
    top: 155px;
    left: 700px;
    z-index: 1;
    height: 1550px;
}

footer{
    position: relative;
    z-index: 6;
}