body {
    display: grid;
    place-items: center;
}

#main {
    background-color: var(--color-card);
    padding: 50px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    width: 70%;
    
    position: relative;
    z-index: 2;
}

#adoption-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    margin: 0px;
    font-size: 54px;
    text-align: center;
}

form input, form select {
    width: 70%;
    height: 2rem;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid rgb(152, 152, 152);
    padding-left: 10px;
}

footer form button {
    margin-top: 20px;
    font-size: 15px;
}

.sub-confirmation {
    top: 50px;
}